.products {
    padding: 30px 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 50px;
    background-color: $vio;
    &__title {
        text-align: center;
     @include adaptiveValue("margin-bottom", 35, 15);
        text-decoration: underline;
        @include adaptiveValue("font-size", 38, 24);
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 15px;
        justify-content: center;
    }

    &__item {
        
    }
}
